.container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 150px;
  }
  
  .sidebarButton {
    background-color: #34495e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  
  .sidebarButton:hover {
    background-color: #1abc9c;
  }
  
  .mainContent {
    flex: 1;
    padding: 20px;
  }
  
  .mainContent h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .mainContent p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }
 